name: Build and Publish Docker Images

on:
  release:
    types: [created]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Build backend
      - name: Build backend
        run: |
          ./gradlew build -x test
      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build & Push Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USER }}/brava-tools-be:latest .
          docker push ${{ secrets.DOCKERHUB_USER }}/brava-tools-be:latest