name: Build and Publish Docker Images

on:
  release:
    types: [created]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build backend Docker image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/brava-tools-be:latest \
            ./backend

      - name: Push backend image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/brava-tools-be:latest